APP_VERSION=latest
AAM_BACKEND_SERVICE_VERSION=latest

# (macos only)
JAVA_TOOL_OPTIONS="-XX:UseSVE=0"

# enable SQS (SQL reports), requires authentication for private ghcr.io docker image; otherwise leave this empty
COMPOSE_PROFILES=include-private

# aam-services APIs
FEATURES_NOTIFICATIONAPI_ENABLED=true
DATABASECHANGEDETECTION_ENABLED=true
NOTIFICATIONFIREBASECONFIGURATION_CREDENTIALFILEBASE64=<base-64-encoded-firebase-credential-file>
APPLICATION_BASEURL=https://aam.localhost
NOTIFICATIONFIREBASECONFIGURATION_LINKBASEURL=https://aam.localhost

AAMREPLICATIONBACKENDCLIENTCONFIGURATION_BASICAUTHUSERNAME=admin
AAMREPLICATIONBACKENDCLIENTCONFIGURATION_BASICAUTHPASSWORD=docker

# replication-backend APIs
REPLICATION_BACKEND_PUBLIC_KEY=<the-content-of-"public_key"-from-here-https://keycloak.localhost/realms/dummy-realm>
REPLICATION_BACKEND_KEYCLOAK_ADMIN_CLIENT_ID=aam-backend
REPLICATION_BACKEND_KEYCLOAK_ADMIN_CLIENT_SECRET=<keycloak-client-secret>
